
<div class="hidden">
  <% @incomplete_requests.reverse.each do |request| %>
    <div class="incomplete-request">
      <div class="index_row clearfix">
        <h2 class="request_title"><%= link_to request.title, request %></h2>
        <p class="request_sub_title"><%= request.description %><br>
                <%= request.due_date.strftime("%A, %B %d") %></p> 
      </div>
    </div>
  <% end %>
</div>
